<section id="social">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Get Social</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="social-box">
                    <a href="https://www.facebook.com/webmobapps1"><i class="fa fa-4x fa-facebook wow bounceIn text-primary"></i></a>
                    <h3>Facebook</h3>
                    <p class="text-muted">Hit us up on Facebook.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="social-box">
                    <i class="fa fa-4x fa-twitter wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Twitter</h3>
                    <p class="text-muted">Tweet with us on Twitter.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="social-box">
                    <i class="fa fa-4x fa-linkedin wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Linkedin</h3>
                    <p class="text-muted">Keep up with us on Linkedin.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="social-box">
                    <i class="fa fa-4x fa-vimeo wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Vimeo</h3>
                    <p class="text-muted">Watch our videos on Vimeo.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="social-box">
                    <i class="fa fa-4x fa-instagram wow bounceIn text-primary"></i>
                    <h3>Instagram</h3>
                    <p class="text-muted">View our stuff on Instagram.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="social-box">
                    <i class="fa fa-4x fa-pinterest wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Pinterest</h3>
                    <p class="text-muted">See our pins on Pinterest.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="social-box">
                    <i class="fa fa-4x fa-reddit wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Reddit</h3>
                    <p class="text-muted">Read our stuff on Reddit.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="social-box">
                    <i class="fa fa-4x fa-tumblr wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Tumblr</h3>
                    <p class="text-muted">Read our posts on Tumblr.</p>
                </div>
            </div>
        </div>
    </div>
</section>
